<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <mat-card-content class="example-card">
                        <div class="container text-center">
                            <img src="../../../assets/FRI_H_S_sk_f.png" alt="" class="responsive" width="auto" height="auto"
                                style="border-radius: 70%">
                        </div>

                        <h1 class="text-center" >Vitajte na portáli pre semestrálne práce</h1>

                        <!-- {{user|json}} -->


                        <section>
                            <div class="container text-center">
                                <a href="/login" mat-raised-button class="btn1">Login</a>&nbsp;&nbsp;
                                <a href="/signup" style="margin-left: 20px;" mat-raised-button class="btn2" >Sign
                                    Up</a>&nbsp;&nbsp;
                                    <!-- color="accent" color="primary"-->
                            </div>
                        </section>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>